@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* VARIABLES */
:root {
    --pop: 'Poppins', sans-serif;
    --mont: 'Montserrat', sans-serif;
    --beige: #f5f5dc;
    --beige-xx: #dbc8ac;
    --txt: #000;
    --txt-hover: #333;
}

/* DESIGN SYSTEM CLASSES */
.flex {
    display: flex;
}

.a-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}


/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    scroll-behavior: smooth;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    * {
        font-size: 16px;
    }
}

@media screen and (max-width: 375px) {
    * {
        font-size: 14px;
    }
}

/* TYPOGRAPHY */

.nav_link,
.card-name {
    text-decoration: none;
    text-transform: capitalize;
    font: normal 300 1rem/1.5rem var(--mont);
    color: var(--txt);
    transition: 300ms;
}

.card-name:hover,
.nav_link:hover {
    color: var(--txt-hover);
    font-weight: 600;
}

.home-txt p {
    font: normal 200 1.2rem/1.5rem var(--pop);
}

.name {
    font-size: 1.5rem;
    font-weight: 500;
}

h1 {
    font: normal 600 2rem/2.2rem var(--mont);
}


.about-txt p {
    font: normal 200 1rem/1.4rem var(--pop);
    text-align: justify;
    width: 95%;
    max-width: 600px;
}

@media screen and (max-width: 347px) {
    h1 {
        text-align: center;
    }
}

.contact-txt h1 {
    font-size: 1.5rem;
}

.contact-txt p {
    font: normal 200 1rem/1.2rem var(--pop);
    text-align: justify;
}

/* HEADER */
header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    background: var(--beige);
}

@media screen and (max-width: 375px) {
    header {
        justify-content: center;
    }
}

nav ul {
    list-style: none;
    display: flex;

    gap: 1rem;
}

/* LAYOUT */

main {
    display: flex;
    width: 400vw;
}

@media screen and (max-width: px) {
    main {
        flex-direction: column;
        width: fit-content;
    }
}

#home,
#about,
#project {
    height: 100vh;
    width: 100vw;
    background: var(--beige);
    justify-content: space-around;
}


.txt-container {
    padding: 1rem;
}

.card-container {
    gap: 1rem;
    width: 80%;
    max-width: 800px;
    padding: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
}


#contact {
    background: var(--beige-xx);
    width: 100vw;
    margin: auto;
}

/* ICONS */

.social-container {
    gap: 1rem;
}

/* IMAGES */
img {
    width: 10rem;
    text-align: center;
}