@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* VARIABLES */
:root {
    --pop: 'Poppins', sans-serif;
    --mont: 'Montserrat', sans-serif;
    --gradient-bg: linear-gradient(90deg, #EC6EE6 0%, #000428 0.01%, #004e92 100%);
    --gradient-glass: linear-gradient(0deg, #ffffff0a, #ffffff0a), linear-gradient(179.48deg, #4517fc1f 15.64%, #1ce47814 53.99%, #42a9711d 99.88%);
    --btn-clr: #ffffff38;
    --btn-hvr-clr: #02062e;
    --github: #6800FF;
    --linkedin: #00A0DC;
    --whatsapp: #25D366;
    --instagram: #E1306C;
    --discord: #5865F2;
    --icon-clr: #699BF7;
    --txt-clr: #fff;
    --heading-clr: #ffff00;
}

/* DESIGN SYSTEM CLASSES */
.flex {
    display: flex;
}

.a-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.j-between {
    justify-content: space-between;
}

.j-around {
    justify-content: space-around;
}


/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    * {
        font-size: 16px;
    }
}

@media screen and (max-width: 375px) {
    * {
        font-size: 14px;
    }
}

/* TYPOGRAPHY */

/* HEADER */
header {
    width: 25vw;
    height: 100vh;
    background: var(--gradient-glass);
    position: fixed;
    z-index: 1;
}

nav ul {
    list-style: none;
    gap: 2.5rem;
}

nav ul li {
    padding: 0.5rem 1rem;
    background: var(--btn-clr);
    border-radius: 8px;
    margin: auto;
    transition: 300ms;
    cursor: pointer;
}

nav ul li:hover {
    background: var(--btn-hvr-clr);
    border-radius: 0;
}

.nav-link {
    text-decoration: none;
    gap: 1rem;
}

.nav-icons {
    color: var(--icon-clr);
    font-size: 1.5rem;
}

.nav-txt {
    color: var(--icon-clr);
    font: normal 300 1rem/1rem var(--mont);
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    nav ul {
        gap: 8rem;
    }

    .nav-txt {
        display: none;
    }

    .nav-icons {
        font-size: 2rem;
    }

    nav ul li {
        border-radius: 100%;
    }

}

/* LAYOUTS */
main {
    background: var(--gradient-bg);
}

#home {
    margin-left: 25vw;
    height: 100vh;
}

/* ICONS */

/* IMAGES */
.hero-img {
    height: 10rem;
}

@media screen and (max-width: 600px) {
    .hero-img {
        display: none;
    }
}